
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark theme styles */
body.dark-theme {
  background-color: #121212;
  color: white;
}

.btn {
  background-color: #61dafb;
  border-color: #fff;
  border: 2px;
  border-radius: 5%;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}
